{% extends 'index.html.twig' %}

{% block title %}Recrutement{% endblock %}

{% block body %}
<div class="row">
    <div class="container mt-4">
        <div class="card col-md-8 mt-5 offset-2" style="background-color: #adb5bd; font-family: Arial; font-size: 16px; color: #16181b;text-align: center; text-transform: uppercase">
            <div class="card-header">Liste des offres</div>
            <div class="card-body" style="background-color: #8fd19e">
                <form action="" method="post">
                    <table class="table table-info">
                        <tr>
                            <th>Nom Entreprise</th>
                            <th>Domaine</th>
                            <th>Poste demande</th>
                        </tr>
                            {% for offre in offres %}
                                <tr>
                                   <td> {{ offre.nomEntreprise }} </td>
                                   <td> {{ offre.domaine }} </td>
                                   <td> {{ offre.posteDemande }} </td>
                                   <td>
                                       <a href="{{ path('app_cv') }}" class="btn-light">Postuler ici</a>
                                   </td>
                                </tr>
                            {% endfor %}
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
